<%= form_for [@product, @item], :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>

      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <%= f.text_field :title, :class => 'controls' %>
      </div>
      <div class="control-group">
        <%= f.label :version, :class => 'control-label' %>
        <%= f.text_field :version, :class => 'controls'  %>
      </div>
      <div class="control-group">
        <%= f.label :minversion, :class => 'control-label' %>
        <%= f.text_field :minversion, :class => 'controls'  %>
      </div>
      <div class="control-group">
        <%= f.label :pub_date, :class => 'control-label' %>
        <script type="text/javascript">
            $(function() {
                $('.datepicker').datepicker({ dateFormat: "yy-mm-dd 00:00:00.000000" });
            });
        </script>
        <%= f.text_field :pub_date, :class => 'controls datepicker'  %>

      </div>

      <div class="control-group">
        <%= f.label :enclosure, :class => 'control-label' %>
        <%= f.file_field :enclosure, :class => 'controls'  %>
      </div>

      <div class="control-group">
        <%= f.label :enclosure_mac, :class => 'control-label' %>
        <%= f.file_field :enclosure_mac, :class => 'controls'  %>
      </div>

      <div class="control-group relnotes">
        <%= f.label :relnotes , :class => 'control-label' %>
        <%= f.text_area :relnotes, :rows => 20, :cols => 120, :class => 'controls'  %>
      </div>


      <div>
        <%= f.submit :class => 'btn btn-primary'  %>
      </div>

    </fieldset>
<% end %>
