<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :relnotes %><br />
    <%= f.text_area :relnotes %>
  </div>
  <div class="field">
    <%= f.label :pub_date %><br />
    <%= f.datetime_select :pub_date %>
  </div>
  <div class="field">
    <%= f.label :enclosure_name %><br />
    <%= f.text_field :enclosure_name %>
  </div>
  <div class="field">
    <%= f.label :enclosure_type %><br />
    <%= f.text_field :enclosure_type %>
  </div>
  <div class="field">
    <%= f.label :enclosure_length %><br />
    <%= f.number_field :enclosure_length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
