<h1>Listing items</h1>

<table table-condensed>
  <tr>
    <th>Title</th>
    <th>Version</th>
    <th>Relnotes</th>
    <th>Pub date</th>
    <th>Enclosure name</th>
    <th>Enclosure Mac name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.version %></td>
    <td><%= raw(item.relnotes) %></td>
    <td><%= item.pub_date %></td>
    <td><%= item.enclosure_file_name %></td>
    <td><%= item.enclosure_mac_file_name %></td>
    <td><%= link_to 'Show', product_item_path(@product,item) %></td>
    <td><%= link_to 'Edit', edit_product_item_path(@product,item) %></td>
    <td><%= link_to 'Destroy', product_item_path(@product,item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_product_item_path(@product) %>
