
<table class="table table-striped table-condensed">
  <tr><td>Title:</td><td><%= @item.title %></td></tr>
  <tr><td>Version:</td><td><%= @item.version %></td></tr>
  <tr><td>Relnotes:</td><td><%= raw(@item.relnotes) %></td></tr>
  <tr><td>Pub date:</td><td><%= @item.pub_date %></td></tr>
</table>


<table class="table table-striped table-condensed">
  <tr>
    <td>Windows :</td>
    <td><%= link_to @item.enclosure_file_name, product_item_url(@product, @item) + '/windows' %></td>
    <td><%= @item.enclosure_content_type %></td>
    <td><%= @item.enclosure_file_size %></td>
    <td><%= @item.impressionist_count(:message=>"windows", :filter=>:all) %> <%= link_to 'download(s)', product_item_url(@product, @item) + '/downloads' %></td>
  </tr>
  <tr>
    <td>Mac :</td>
    <td><%= link_to @item.enclosure_mac_file_name, product_item_url(@product, @item) + '/mac' %></td>
    <td><%= @item.enclosure_mac_content_type %></td>
    <td><%= @item.enclosure_mac_file_size %></td>
    <td><%= @item.impressionist_count(:message=>"mac", :filter=>:all) %> <%= link_to 'download(s)', product_item_url(@product, @item) + '/downloads' %></td>
  </tr>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              product_items_path(@product), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_item_path(@product, @item), :class => 'btn btn-success' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_item_path(@product, @item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>