<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Version:</b>
  <%= @item.version %>
</p>

<p>
  <b>Relnotes:</b>
  <%= raw(@item.relnotes) %>
</p>

<p>
  <b>Pub date:</b>
  <%= @item.pub_date %>
</p>

<p>
  <b>Enclosure file name:</b>
  <%= @item.enclosure_file_name %>
</p>

<p>
  <b>Enclosure content type:</b>
  <%= @item.enclosure_content_type %>
</p>

<p>
  <b>Enclosure file size:</b>
  <%= @item.enclosure_file_size %>
</p>


<%= link_to 'Edit', edit_product_item_path(@product, @item) %> |
<%= link_to 'Back', product_items_path(@product) %>

