<table class="table table-striped table-condensed">
  <tr><td>Title:</td><td><%= @product.title %></td>
  <tr><td>Name:</td><td><%= @product.name %></td>
  <tr><td>Description:</td><td><%= @product.description %></td>
  <tr><td>appcast:</td><td><%= link_to product_url(@product)+ '.xml', product_url(@product) + '.xml' %></td>
</table>

<p> Latest (permanent link) </p>
<ul>
  <li>
    <%= link_to product_url(@product)+ '/windows',product_url(@product)+ '/windows' %>
  </li>
  <li>
    <%= link_to product_url(@product)+ '/mac',product_url(@product)+ '/mac' %>
  </li>
</ul>



<p>Items</p>
<table class="table table-striped table-condensed">
  <tr><th>Title</th> <th>Version</th> <th>Date</th> <th>Relnotes</th><th>Windows</th><th>Mac</th></tr>
<%= render @product.items %>
</table>

<br/>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn'  %>
  <%= link_to 'Add item', new_product_item_path(@product), :class => 'btn btn-success' %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn btn-success' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>