<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>


<p>Items</p>
<table>
  <tr><th align="left">Title</th> <th align="left">Version</th> <th align="left">Date</th> <th align="left">Windows</th><th align="left">Mac</th></tr>
<%= render @product.items %>
</table>
<%= link_to 'Add item', new_product_item_path(@product) %>

<br/>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
